

* {
    box-sizing: border-box;
    margin: 0;
    padding: 1px;
}

html {
    height: 100%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/imgbit.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.glyphicon {
    font-size: 30px;
    color: #36A0FF;
}

.container{
    margin: auto;
    margin-top: 5%;
}

.logo img {
    width: 70px;
    height: 40px;
    margin-top: -2px;
}